<br>
<div class="container">
    <div *ngFor="let enrollment of enrollments">
        <div class="card">
            <div class="card-header" id="{{ 'heading-' + enrollment?.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" 
                        [attr.data-target]="'#collapse-' + enrollment?.id" aria-expanded="true" [attr.aria-controls]="'#collapse-' + enrollment?.id">
                        {{enrollment?.course?.name}}
                    </button>
                </h5>
            </div>
            <div id="{{ 'collapse-' + enrollment?.id }}" class="collapse show" [attr.aria-labelledby]="'heading-' + enrollment?.id">
                <div class="card-body">
                    <app-video-menu [videos]="this.flattenSessionVideos(enrollment?.course?.sessions)"></app-video-menu>
                </div>
            </div>
        </div>
    </div>
</div>