<h3>Courses Available</h3>
<div class="card-deck">
  <div *ngFor="let course of courses " id="overview">
    <div (click)="courseItemClick(course)" class="card border-secondary mb-3" style="min-width: 15rem;">
      <div class="card-header" id="{{ 'heading-' + course?.id }}">
        <h5 class="mb-1">
          <a class="card-title">
            {{course?.name}}
          </a>
        </h5>
      </div>
      <div class="card-body">
        <p>Sessions: {{course?.sessions?.length}}</p>
        <div *ngIf="getTeachers(course?.sessions) as teachers">
          <p *ngIf="teachers.length > 0" class="card-text">Teachers: {{teachers}}</p>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">lastUpdated: {{getSessionDates(course?.sessions) | fromNow }}</small>
      </div>
    </div>
  </div>
</div>