<h3>Courses Available</h3>
<div class="card-deck">
    <div *ngFor="let course of courses " id="overview">
<div (click)="courseItemClick(course)" class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header" id="{{ 'heading-' + course?.id }}">
        <h5 class="mb-1">
            <a class="card-title">
                {{course?.name}}
        </a>
        </h5>
        <div class="card-body">
      <p class="card-text">Teacher: {{getTeacher(course?.sessions)}}</p>
      <div class="card-footer">
          <small class="text-muted">lastUpdated: {{getSessionDates(course?.sessions) | fromNow }}</small>
        </div>
    </div>
  </div>
</div>
</div>
</div>
