<div class="card border-primary mb-3" style="max-width: 80rem;">
    <div class="card-header">About Us</div>
    <div class="card-body">
      <h4 class="card-title">VC - The platform you need to achieve great results</h4>
      <p class="card-text">At Virtual Classroom we give you the possibility to stream all the classes you are enrolled in. All you have to do is register your user and add the courses you are interested in. Sign in and discover all the fun additional features we have prepared specially for you.
      </p>
    </div>