
    <div class="jumbotron">
        <h1 class="display-3">About Us</h1>
        <p class="lead">VC - The platform you need to achieve great results.</p>
        <hr class="my-4">
        <p>At Virtual Classroom we give you the possibility to stream all the classes you are enrolled in. All you have to do is register your user and add the courses you are interested in. Sign in and discover all the fun additional features we have prepared specially for you.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Register Now</a>
        </p>
      </div>