<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Virtual Classroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <div>
    <mat-form-field>
        <input style="text-transform: lowercase;" matInput type="text" placeholder="Search for video name" matInput [formControl]="videoForm" 
        [ngModel]="videoName" name="VideoName" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let video of videos" [value]="video.name">
          <small>{{video.name}}</small> 
        </mat-option>
      </mat-autocomplete>
      </mat-form-field>
      <button (click)="search()" [routerLink]="['/video-menu']">Search</button>`
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn btn-secondary my-2 my-sm-0 dropdown" style="margin-right:0.5rem" data-toggle="dropdown">Account</button>
      <app-login-window></app-login-window>
    </div>
  </div>
</nav>