<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Virtual Classroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="this.login.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/myEnrollments">My Enrollments</a>
      </li>
      <li #coursesDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Courses</a>
        <div class="dropdown-menu">
          <div class="dropdown-item" *ngFor="let course of courses$ | async" (click)="courseItemClick(course)">
            {{course?.name}}</div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/courses">All Courses</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <div class="search-container my-2 my-lg-0" (click)="resultsShown = true" (clickOutside)="resultsShown = false">
      <input class="form-control mr-sm-2" (click)="inputHighlight($event)" type="text" placeholder="Search"
        [formControl]="searchForm">
      <div *ngIf="resultsShown && (searchContent$ | async) as searchResult">
        <div *ngIf="searchResult?.videos?.length  > 0 || 
                    searchResult?.courses?.length > 0 ||
                    searchResult?.users?.length   > 0
                    else noResults" class="search-content">
          <div *ngIf="searchResult?.courses?.length > 0" class="search-header">Courses</div>
          <div (click)="courseItemClick(course)" class="search-item" *ngFor="let course of searchResult?.courses">
            {{course.name}}</div>
          <div *ngIf="searchResult?.videos?.length > 0" class="search-header">Videos</div>
          <div (click)="videoItemClick(video)" class="search-item" *ngFor="let video of searchResult?.videos">
            {{video.name}}</div>
          <div *ngIf="searchResult?.users?.length > 0" class="search-header">Users</div>
          <div (click)="userItemClick(user)" class="search-item" *ngFor="let user of searchResult?.users">
            {{user.fullName}}</div>
        </div>
        <ng-template #noResults>
          <div class="search-content">
            <div class="search-header">No Results</div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn btn-secondary my-2 my-sm-0 dropdown" style="margin-right:0.5rem"
        data-toggle="dropdown">Account</button>
      <app-login-window></app-login-window>
    </div>
    <div *ngIf="this.login.isLoggedIn()" class="nav navbar-nav navbar-right">
      <app-notifications></app-notifications>
    </div>
  </div>
</nav>