<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Virtual Classroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
      <div class="panel panel-default col-xs-12 col-sm-11" *ngFor="let lock of locked | LockFilter: query">
      <input type="checkbox" (change)="openModal($event, lock)" class="check" id="{{lock.ID}}">
      <label [for]="lock.ID" class="check-label"></label>
      <h3 class="card-text name">{{lock.User}}</h3>
      <h3 class="card-text auth">{{lock.AuthID}}</h3>
      <h3 class="card-text form">{{lock.FormName}}</h3>
      <h3 class="card-text win">{{lock.WinHandle}}</h3>
  </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn btn-secondary my-2 my-sm-0 dropdown" style="margin-right:0.5rem" data-toggle="dropdown">Account</button>
      <app-login-window></app-login-window>
    </div>
  </div>
</nav>