<br>
<div class="card-deck">
        <app-video-tile *ngFor="let video of videos" [video]="video"></app-video-tile>
      </div>
      <br>
      <div class="card-deck">
            <div class="card">
                    <h3 class="card-header">SMP</h3>
                    <img style="height: 300px; width: 80%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                    <div class="card-body">
                <h5 class="card-title">Lecture 3</h5>
                <p class="card-text">24/02/2019</p>
                <a href="http://www.google.com">Link to video</a>
              </div>
            </div>
            <div class="card">
                    <h3 class="card-header">SWA</h3>
                    <img style="height: 300px; width: 100%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                    <div class="card-body">
                <h5 class="card-title">Lecture 1</h5>
                <p class="card-text">01/03/2019</p>
                <a href="http://www.google.com">Link to video</a>
              </div>
            </div>
            <div class="card">
                    <h3 class="card-header">DNP2</h3>
                    <img style="height: 300px; width: 100%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                    <div class="card-body">
                <h5 class="card-title">Lecture 5</h5>
                <p class="card-text">23/03/2019</p>
                <a href="http://www.google.com">Link to video</a>
              </div>
              
            </div>
            </div>
            <br>
            <div class="card-deck">
                    <div class="card">
                            <h3 class="card-header">SMP</h3>
                            <img style="height: 300px; width: 100%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                            <div class="card-body">
                        <h5 class="card-title">Lecture 3</h5>
                        <p class="card-text">24/02/2019</p>
                        <a href="http://www.google.com">Link to video</a>
                      </div>
                    </div>
                    <div class="card">
                            <h3 class="card-header">SWA</h3>
                            <img style="height: 300px; width: 100%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                            <div class="card-body">
                        <h5 class="card-title">Lecture 1</h5>
                        <p class="card-text">01/03/2019</p>
                        <a href="http://www.google.com">Link to video</a>
                      </div>
                    </div>
                    <div class="card">
                            <h3 class="card-header">DNP2</h3>
                            <img style="height: 300px; width: 100%; display: block;" src="assets\video.jpeg"  class="card-img-top">
                            <div class="card-body">
                        <h5 class="card-title">Lecture 5</h5>
                        <p class="card-text">23/03/2019</p>
                        <a href="http://www.google.com">Link to video</a>
                      </div>
                      
                    </div>