<div id="player-overlay">
    <h1>{{video.name}}</h1>
    <video width="854" height="480" controls>
        <source [src]="video.url" type="video/mp4">
      </video>
</div>
<div>
  <mat-form-field><input #commentInput type="text" matInput placeholder="Leave your comment"></mat-form-field>

<button mat-raised-button (click)="createComment(commentInput.value)">Add Comment</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--User Column-->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>Initials</th>
    <td mat-cell *matCellDef="let element">{{element.userName}}</td>
  </ng-container>

  <!--Comment Column-->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment</th>
    <td mat-cell *matCellDef="let element"> {{ element.message}}</td>
  </ng-container>

  <!--Date Column-->
  <ng-container matColumnDef="commentdate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.commentTime}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color ="warn" (click)="onDelete(row)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>

</table>

  
</div>