<div id="player-overlay">
    <h1>{{video.name}}</h1>
    <video controls>
        <source [src]="video.url" type="video/mp4">
      </video>
</div>
<div>
<div>
  <mat-form-field><input #commentInput type="text" matInput placeholder="Add public comment"></mat-form-field>

<button mat-raised-button class="btn btn-secondary disabled" (click)="createComment(commentInput.value)">Add Comment</button>

<table mat-table [dataSource]="dataSource" class="table table-hover">

  <!--User Column-->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>UserName</th>
    <td class="username" mat-cell *matCellDef="let element"><div>{{element.userName}}</div></td>
  </ng-container>

  <!--Comment Column-->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let element"><div>{{element.message}}</div></td>
  </ng-container>

  <!--Date Column-->
  <ng-container matColumnDef="commentdate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.commentTime | fromNow}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button class="delete" mat-icon-button color ="warn" (click)="onDelete(row)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>

</table>
</div>
  
</div>