<div class="container">
        <div *ngFor="let course of courses" id="overview">
            <div class="card">
                <div class="card-header" id="{{ 'heading-' + course?.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" 
                            [attr.data-target]="'#collapse-' + course?.id" aria-expanded="true" [attr.aria-controls]="'#collapse-' + course?.id">
                            {{course?.name}}
                        </button>
                    </h5>
                </div>
                <div id="{{ 'collapse-' + course?.id }}" class="collapse show" [attr.aria-labelledby]="'heading-' + course?.id">
                    <div class="card-body">
                        <app-video-menu [videos]="this.flattenSessionVideos(course?.sessions)"></app-video-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>

