<ul class="nav nav-tabs">
    <a class="navbar-brand">
        <img src="src\assets\course.jpg" width="30" height="30" class="d-inline-block align-top" alt="">{{getName()}}</a>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#overview">Course Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#participants">Participants</a>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="overview">
                <div class="card-deck"> 
                <div class="card">
                    <div class="card-body">
                        <app-video-menu [videos]="this.getVideos()"></app-video-menu>
                        </div>
                </div>
                </div>
                </div>
            <div class="tab-pane fade" id="participants">
                    <li>{{this.getParticipants()}}</li>
            </div>
            </div>
